body {
    background-color: steelblue;
}

.m-2 {
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto;
    gap: 2rem;
    padding: 3rem;
}

.fila2 {
    display: flex;
    gap: 2rem;
}

header {
    background-color: beige;
    width: 100%;
    height: auto;
    border-radius: 15px;
    padding: 15px;
}

#principal, #panel-izquierda {
    height: 5rem;
    width: 50%;
    border-radius: 15px;
    padding: 15px;
}

#panel-izquierda {
    background-color: beige;
    display: flex;
    justify-content: space-evenly;
}

#principal {
    background-color: beige;
    width: auto;
    height: auto;
}

.btn-section {
    display: flex;
    justify-content: space-evenly;
}

#series {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container {
    background: white;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    text-align: center;
}

@media (max-width: 900px) {
    #series {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #principal {
        height: auto;
        width: auto;
    }
}

@media (max-width: 550px) {
    #series {
        display: grid;
        grid-template-columns: 1fr;
    }

    #principal {
        height: auto;
        width: auto;
    }
}